<div style="display: flex;justify-content: space-between;">
    <p style="font-size: 20px;font-weight: 700;line-height: 24px;">Create Profile</p>
    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.1 21L0 18.9L8.4 10.5L0 2.1L2.1 0L10.5 8.4L18.9 0L21 2.1L12.6 10.5L21 18.9L18.9 21L10.5 12.6L2.1 21Z" fill="#94A3B8"/>
        </svg>
</div>
<div class="edit-profile-container">

    <div class="edit-profile-card">
        
       
            
      <!-- Profile Image and Edit Icon -->
      <div class="profile-image-section">
        <div class="profile-image">
          <!-- <img src="assets/default-profile.png" alt="User Profile Image" class="profile-img" /> -->
          <div class="user-profile-icon">
            <fa-icon [icon]="['fas', 'user']" class="user-icon"></fa-icon>
          </div>
          <div>
            <p style="font-size: 14px;font-weight: 700;line-height: 24px;">{{user.firstName}} {{user.lastName}}</p>
          </div>
        
          
        </div>
        
      </div>
  
      <!-- Form Fields -->
      <form (ngSubmit)="saveChanges()">
        <div class="form-field">
            <input type="text" [(ngModel)]="user.firstName" placeholder="Job Title" name="firstName" />
          </div>
          <div class="form-field">
            <input type="text" [(ngModel)]="user.lastName" placeholder="Job Title" name="lastName" />
          </div>
        <div class="form-field">
          <input type="text" [(ngModel)]="user.email" placeholder="Email" name="email" />
        </div>
  
        <div class="form-field">
          <input type="text" [(ngModel)]="user.jobTitle" placeholder="Job Title" name="jobTitle" />
        </div>
  
        <div class="form-field">
          <input type="text" [(ngModel)]="user.phoneNumberPrimary" placeholder="Phone number" name="phoneNumberPrimary" />
        </div>
  
        <div class="form-field">
          <input type="text" [(ngModel)]="user.phoneNumberSecondary" placeholder="Phone number 2 (Optional)" name="phoneNumberSecondary" />
        </div>
  
        <div class="form-field">
          <input type="text" [(ngModel)]="user.linkedinLink" placeholder="LinkedIn Link" name="linkedinLink" />
        </div>
  
        <div class="form-field">
          <input type="text" [(ngModel)]="user.websiteLink" placeholder="Website Link" name="websiteLink" />
        </div>
  
        <!-- Add Link Button -->
        <!-- <div class="add-link-section">
          <fa-icon [icon]="['fas', 'plus-circle']" class="add-link-icon"></fa-icon>
          <a (click)="addLink()" class="add-link-text">Add Link</a>
        </div> -->
  
        <!-- Save and Cancel Buttons -->
        <div class="form-actions">
          <button type="submit" class="save-button">Save Changes</button>
          <button type="button" (click)="cancelEdit()" class="cancel-button">Cancel</button>
        </div>
      </form>
    </div>
  </div>
