/* Dialog container */
.popup-title {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin: 0px;
    color: #99999B;
  }
  
  .highlight-text {
    color: #ff6a00; /* Orange for "e-card" */
  }
  
  /* E-card image */
  .ecard-image img {
    /* width: 100%; */
    border-radius: 10px;
    /* margin: 20px 0; */
  }
  
  /* Download button */
  .download-button {
    background-color: #ff6a00;
    color: white;
    padding: 4px 12px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 5px;
  }
  
  .download-button:hover {
    background-color: #e65a00;
  }
  
  /* Cancel link */
  .cancel-link {
    color: #666;
    /* text-decoration: none; */
    cursor: pointer;
    font-size: 14px;
  }
  
  .cancel-link:hover {
    text-decoration: underline;
  }

  .e-card-image{
    height: 400px;
    margin: 0px !important;
    border-radius: 20px;
  }

/* Container for the entire e-card */
.ecard-container {
  position: relative; /* This allows absolutely positioned children */
  text-align: center;
  
}

/* .e-card-image {
  width: 100%; 
  height: auto; 
} */

.qr-code-overlay {
  position: absolute; /* Position it relative to the parent */
  top: 76%; /* Adjust this value to move the QR code vertically */
  left: 50%; /* Center it horizontally */
  transform: translate(-50%, -50%); /* Adjust for centering */
  z-index: 10; /* Make sure the QR code is above the image */
}

.ecard-footer {
  position: relative; /* Maintain the footer's position */
  text-align: center; /* Center text */
  z-index: 5; /* Ensure footer is above the image but below the QR code */
}

.ecard-scan-text {
  color: #000; /* Adjust text color as needed */
  font-size: 14px; /* Adjust font size */
  
}

  .qr-code-image {
    width: 150px;
    height: 150px;
  }
  
  .ecard-scan-text {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    color: black;
  }
  .e-card-toptext {
    position: absolute;
    top: 20%; /* Adjust this value to control the vertical position */
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    width: 65%; /* Adjust the width to stay within the image */
    color: #fff; /* White text */
    text-align: right; /* Center align text */
    z-index: 2; /* Ensure the text stays on top of the image */
    overflow: hidden; /* Ensures text does not go outside the container */
    white-space: nowrap; /* Prevents the text from wrapping to the next line */
    font-size: 16px; /* Adjust font size */
    font-weight: 700
    
  }
  .e-card-footertext {
    position: absolute;
    top: 93%; /* Adjust this value to control the vertical position */
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    width: 65%; /* Adjust the width to stay within the image */
    color: black; /* White text */
    text-align: center; /* Center align text */
    z-index: 2; /* Ensure the text stays on top of the image */
    overflow: hidden; /* Ensures text does not go outside the container */
    white-space: nowrap; /* Prevents the text from wrapping to the next line */
    font-size: 12px; /* Adjust font size */
    font-weight: 700
    
  }

  .position-text{
    font-size: 10px; /* Adjust font size */
    font-weight: 400
  }

  ::ng-deep mat-dialog-container {
    display: block;
    padding: 6px 24px !important;
    border-radius: 10px !important;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
}
  
  