<div style="text-align: end;">
  <svg (click)="closeDialog()" style="cursor: pointer;" width="16" height="16" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M2.1 21L0 18.9L8.4 10.5L0 2.1L2.1 0L10.5 8.4L18.9 0L21 2.1L12.6 10.5L21 18.9L18.9 21L10.5 12.6L2.1 21Z" fill="#94A3B8"/>
  </svg>
</div>

<h2 class="popup-title">Your <span class="highlight-text">e-card</span> is here</h2>

<!-- <div class="ecard-image" style="text-align: center;">
    <img src="../../../assets/images/e-card.png" alt="Spectra Logo" class="e-card-image">

</div> -->

<div class="ecard-container pt-1 ">
  <!-- Top Section with dynamic name and position -->
   <div class="qr-ecard" >
    <img src="../../../assets/images/ecard-background.png" alt="Spectra Logo" class="e-card-image">
    <div class="e-card-toptext pe-2" >
      <p style="margin: 0px;">Mohan krishna </p>
      <p style="margin: 0px;">Sai</p>
      <p class="position-text">Software Developer</p>
  
    </div>
    <p class="e-card-footertext ">Scan for <span style="font-weight: bold;">NEW JOBPHORIA</span></p>
    
    <!-- QR Code Section -->
    <div class="qr-code-overlay">
      <qrcode
        [qrdata]="'http://localhost:4200/e-card/mohan.krishnasai@spectraforce.com'"
        [width]="144"
        [elementType]="'url'"
        [colorLight]="'#f8d731'"
        [errorCorrectionLevel]="'M'">
      </qrcode>
    </div>
   </div>


  <!-- <div class="ecard-footer">
    <p class="ecard-scan-text">Scan for scanText</p>
  </div> -->
</div>

  
<div class="pt-2" style="display: flex;flex-direction: column;padding: 0px 75px;align-items: center;">
    <button  class="download-button" (click)="downloadEcard()">
      <img src="../../../assets/images/download.png" style="height: 20px;width: 20px;" alt="LinkedIn Icon">
      &nbsp;Download e-card</button>
<a class="cancel-link" (click)="closeDialog()">Cancel</a>
</div>

